<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.ocean_story">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tag_img"
        android:label="플랑크톤 키우기"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true"

        >
        <activity android:name=".MainActivity"

            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".GameActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".menu_Sliding_Panel"
            android:theme="@android:style/Theme.Dialog"
            />

        <activity
            android:name=".Activity_Store"></activity>

    </application>

</manifest>

